.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #282c34;
}

.app__header {
  pointer-events: none;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.app__board {
  width: 400px;
  height: 400px;
  margin-top: 2rem;
  position: relative;
}